* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.btn {
    color: white;
    border: none;
    background-color: #ff7a59;
    border-radius: 3px;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.bg-header {
    height: 74px;
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
}

header {
    padding: 10px 12px 14px 12px;
    line-height: 50px;
}

.header-left {
    float: left;
}

.change {
    float: left;
}

.change:hover {
    cursor: pointer;
}

.fa-globe {
    color: #425b76;
    margin-left: 10px;
}

.language {
    font-size: 14px;
    color: #425b76;
    margin: 0 10px;
}

.language:after {
    content: "\25BC";
    font-size: 12px;
    color: #7c98b6;
    padding: 5px 20px 5px 10px;
    border-right: 2px solid #cbd6e2;
}

.contact {
    float: left;
}

.contact a {
    color: #425b76;
    font-size: 14px;
    padding-left: 8px;
}

.header-right {
    float: right;
}

.fa-search {
    color: #00a4bd;
    margin-right: 20px;
}

.fa-search:hover {
    cursor: pointer;
}

.btn-login {
    color: #ff7a59;
    background-color: #ffffff;
    border: 1px solid #ff7a59;
    padding: 10px 15px;
    border-radius: 3px;
    margin: 0 5px;
}

.btn-free {
    padding: 10px 15px;
    margin: 0 5px;
}

.bg-navbar {
    background-color: #ffffff;
}

nav {
    padding: 15px 12px;
    line-height: 50px;
}

.navbar-left {
    float: left;
}

.navbar-left img {
    vertical-align: middle;
    margin-left: 10px;
}

.navbar-left img:hover {
    cursor: pointer;
}

.navbar-right {
    float: right;
}

.navbar-right li {
    color: #425b76;
    margin: 0 15px;
    list-style: none;
    float: left;
}

.navbar-right li:not(:nth-child(2)):after {
    content: "\25BC";
    font-size: 15px;
    color: #7c98b6;
    margin-right: 5px;
    margin-left: 10px;
}

.navbar-right li:hover {
    cursor:pointer;
}

.bg-banner {
    background-color: #425b76;
}

.banner {
    padding: 15px 12px;
    line-height: 60px;
}

.banner-left {
    width: 85%;
    float:left;
}

.banner-left p {
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
    line-height: 2.0;
    padding-left: 30px;
}

.banner-right {
    float: right;
}

.btn-learn {
    background-color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    color: #425b76;
    padding: 13px 25px;
    margin: 0 5px;
}

.bg-cloud {
    background-color: #fff2ee;
    background-image: url("https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/home/2019/clouds-desktop.svg");
}

.title {
    width: 40%;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 10px;
    float: left;
}

.title h1 {
    font-size: 55px;
    font-weight: 900;
    color: #33475b;
    line-height: 1.2;
}

.title p {
    color: #4d5d6e;
    line-height: 1.7;
    font-weight: 300;
    margin: 20px 0;
}

.btn-big {
    font-size: 16px;
    padding: 25px 45px;
    display: block;
}

.title small {
    color: #4d5d6e;
    margin: 20px 0;
    display: block;
}

.bg-div {
    height: 90px;
    background-color: #98e5dc;
    border-top: 3px solid #33475c;
    border-bottom: 3px solid #33475c;
}

.bg-main {
    background-color: #f5f8fa;
}

.icon {
    width: 70%;
    margin: 100px auto 50px;
    text-align: center;
}

.icon img {
    width: 260px;
}

.icon h2 {
    font-size: 32px;
    color: #33475b;
}

.icon p {
    color: #6b7a89;
    font-weight: 300;
    margin: 20px 0;
}

.crm {
    width:80%;
    background-color: #ffffff;
    margin: 50px auto;
    box-shadow: 30px 30px 50px #425b76,
                -30px -30px 50px #425b76,
                30px -30px 50px #425b76,
                -30px 30px 50px #425b76;
}

.crm-left {
    width: 30%;
    text-align: center;
    padding: 20px;
    margin-left: 50px;
    float: left;
}

.crm-left img {
    width: 152px;
    margin: 30px;
}

.btn-small {
    font-size: 14px;
    padding: 13px 27px;
}

.crm-right {
    width: 60%;
    padding: 20px;
    margin-top: 20px;
    float: left;
}

.layout h2 {
    color: #33475b;
    font-size: 20px;
    font-weight: 400;
}

.layout p {
    font-size: 14px;
    color: #6b7a89;
    line-height: 1.7;
    font-weight: 300;
    margin: 20px 0;
    text-align: left;
}

.layout h3 {
    font-size: 14px;
    color: #33475b;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    margin: 20px 0;
}

.layout h3:after {
    content: "";
    position: absolute;
    height: 5px;
    margin-left: 10px;
    border-bottom: 2px solid #e0e6ed;
    top: 4px;
    width: 75%;
}

.layout li {
    color: #33475b;
    font-size: 13px;
    list-style: none;
    float: left;
    margin-right: 25px;
}

.fa-check-circle {
    font-size: 20px;
    color: #ff7a59;
    margin-right: 10px;
}

.hub {
    width:80%;
    background-color: #ffffff;
    margin: 50px auto;
}

.market,
.sales,
.service {
    width: 33.3333%;
    float: left;
    box-shadow: 5px 5px 5px #425b76,
                -5px -5px 5px #425b76,
                5px -5px 5px #425b76,
                -5px 5px 5px #425b76;
}

.index {
    text-align: center;
}

.index img {
    height: 150px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.index p {
    padding: 0 35px;
}

.index hr {
    color: #e0e6ed;
    width: 80%;
    margin: 0 auto;
}
